﻿@page "/"
@layout BlankLayout
 
<h3>Login</h3>
<div class="container">
    <input type="checkbox" class="custom-control-input" id="RememberSignIn" name="RememberSignIn">
    <button type="submit" class="btn btn-primary btn-user btn-block">Sign In</button>
 
</div>
@code {
      
}
